body { 
  background: rgb(165, 0, 0);
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.heading {
  text-align: center;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 250px;
  transform: rotate(25deg)
}

.character {
  background-color: rgb(255, 153, 0);
  margin: 1px -7px;
  width: 80px;
  height: 65px;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  line-height: 4rem;
  transform: rotate(-25deg);
  /* transition: .2s; */
}

.character:nth-of-type(3n+1) {
  transform: translateY(44px) rotate(-25deg);
}

.character:nth-of-type(3n+3) {
  transform: translateY(22px) rotate(-25deg);
}

.character:nth-last-child(1) {
  transform: translateY(0px) rotate(-25deg);
}

.character:hover {
  border-color: rgb(112, 197, 214);
}