body { 
  background: rgb(131, 0, 0);
  padding: 1rem calc((100% - 95vw) / 2);
}

* {
  box-sizing: border-box;
}

.char-head {
  border: 2px solid black;
  background: rgb(185, 185, 185);
  width: 500px;
  min-height: 150px;
  margin: 0 auto;
}

.char-head * {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.char-name {
  font-size: 2.5rem;
  margin: 1rem;
}

.char-info {
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 250px;
  transform: rotate(25deg)
}

.character {
  background-color: rgb(185, 185, 185);
  font-weight: bold;
  margin: 1px -7px;
  width: 95px;
  height: 82px;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  line-height: 5rem;
  transform: rotate(-25deg);
}

.character:nth-of-type(3n+1) {
  transform: translateY(50px) rotate(-25deg);
}

.character:nth-of-type(3n+3) {
  transform: translateY(34px) rotate(-25deg);
}

.character:nth-last-child(1) {
  transform: translateY(0px) rotate(-25deg);
}

.character:hover {
  border-color: rgb(112, 197, 214);
}

a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

a:visited {
  color: black;
}

.error-message {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 245, 191);
  font-size: 3rem;
  margin: 10rem auto;
}

li {
  list-style: none;
}

ul {
  padding-left: 1rem;
}

table { 
  border: 2px solid black;
  background: rgb(160, 160, 160);
  margin: 0 auto;
}

table  * {
  margin: 0;
  text-align: center;
}

.misc {
  text-align: center;
  margin: 0 auto;
}

th {
  padding: 10px;
}

td {
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  transition: 0;
  padding: 5px 10px;
}

td div {
  display: inline-block;
}

thead tr th {
  background: rgb(160, 160, 160);
}

tr {
  padding: 10px;
  margin: 50px;
  background: rgb(160, 160, 160);
}

tr:hover td {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  transition: .5s;
  transition-delay: .5s;
}

tr:active td {
  background-color: rgba(255, 153, 0, 0.377);
  transition: 1s;
  transition-delay: 0s;
}

tr:nth-of-type(odd) {
  background: rgb(185, 185, 185);
}

.attack-type {
  text-align: left;
  font-weight: bold;
  color: rgb(0, 0, 82);
}

html {
  margin-left: calc(100vw - 100%);
}

button {
  outline: none;
  background: rgb(133, 133, 133);
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 10px;
  transition: .1s;
}

.selector-buttons {
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.home-button {
  background: rgb(160, 160, 160); 
  margin-left: calc((100% - 95vw) / 2);
}

.negative {
  color: rgb(196, 0, 0);
}

.selector-buttons button:hover {
  background: rgb(160, 160, 160);
}

div.selector-buttons button.active {
  background: rgb(185, 185, 185);
}

button:hover {
  cursor: pointer;
}

.cancel {
  font-weight: bold;
  margin: 0 3px;
  text-shadow: 1px 1px black;
  color: rgb(172, 194, 255);
}

.SA {
  color: rgb(196,250,235);
}

.NC {
  color: black;
  text-shadow: none;
}

.SP {
  color: rgb(245,154,25);
}

.SJ {
  color: white;
}

.DASH {
  color: rgb(0, 184, 0);
}